{
  "TreatDefaultDoorsAsCritterProof": false,
  "UseCustomTextures": true,
  "EnablePneumaticCritterProofDoor": true,
  "EnableCritterProofManualAirlock": true,
  "EnableCritterProofMechanisedAirlock": true
}